/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
	background-color:#F7F5F5;
}
#main{
	width:1020px;
	margin:30px auto;
}
.col{
	float:left;
	width:320px;
	margin-left:20px;	
}
.picshow{
	text-align: center;
	box-shadow: 0 1px 3px rgba(34,25,25,.4);
	background-color: white;
	padding: 30px 0 0;
	margin-top:20px;
	cursor:pointer;
}
.picshow:hover{
	opacity:0.9;
}
.picshow p{
	margin-top: 10px;
	color: #AD9C9C;
	padding: 10px 0px;
	background-color: #F2F0F0;
}
