<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>碟花网</title>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript' charset='utf-8'></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<body>
<div class="wfx profile" style="position:relative">
     [[[commonheader:get_header()]]]
    <form id="profile_edit" action="/settings/" method="post" name="profile_edit" class="Form StaticForm">
    <h3>
        帐号设置
    </h3>
    <ul>
        <li>
            <label for="id_email">
                邮箱地址
            </label>
            <div class="Right">
                <input id="id_email" type="text" name="user[email]" value="junguoliang@163.com"
                maxlength="75">
                <span class="help_text">
                    可用于直接登录花瓣
                </span>
            </div>
        </li>
        <li id="email_field" style="display:;">
            <label>
                密码
            </label>
            <div class="Right">
                <a href="/password/change/" class="btn btn18 wbtn">
                    <strong>
                        修改密码
                    </strong>
                    <span>
                    </span>
                </a>
            </div>
        </li>
        <li>
            <label for="id_username">
                昵称
            </label>
            <div class="Right">
                <input id="id_username" type="text" name="user[username]" value="轻言放弃">
            </div>
        </li>
        <li class="urlname">
            <label for="id_urlname">
                个性网址
            </label>
            <div class="Right">
                <input id="id_urlname" type="text" name="user[urlname]" value="frosh">
                <span class="help_text urlname_available">
                    http://huaban.com/个性网址
                </span>
            </div>
        </li>
        <li>
            <input id="avatar_holder" type="hidden" name="user[avatar]">
            <label for="id_avatar">
                头像
            </label>
            <div class="Right">
                <div class="current_avatar_wrapper fl">
                    <img src="/img/load2.gif" style="display:none;" class="load">
                    <img id="current_avatar" src="http://img.hb.aicdn.com/cb82b7e9f55b252598a2be8ddc3aa9791b32fc9e25a6-JuF9TV_fw192"
                    class="fl">
                </div>
                <div style="padding-left: 12px;position:relative;" class="NoInput fl">
                    <p>
                        <a id="avatar_upload_button" href="#" onclick="return false;" class="upload_avatar btn btn18 wbtn">
                            <strong>
                                上传头像
                            </strong>
                            <span>
                            </span>
                        </a>
                        <div style="position: absolute; opacity: 0.01; overflow-x: hidden; overflow-y: hidden; ">
                            <iframe src="javascript:'<html></html>'" frameborder="no" border="0" name="IFrame_gwrtvwu6"
                            id="IFrame_gwrtvwu6" style="display: none; ">
                            </iframe>
                            <input type="file" name="file" size="1" style="position: absolute; top: 0px; left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; ">
                        </div>
                    </p>
                    <p>
                        <a data="weibo" href="#" onclick="return false;" class="refresh_avatar btn btn18 wbtn">
                            <strong>
                                从微博同步头像
                            </strong>
                            <span>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </li>
        <li class="NoInput">
            <label>
                新浪微博
            </label>
            <div class="Right NoInput">
                <p>
                    <a href="http://weibo.com/frosh" target="_blank">
                        <span>
                            weibo.com/frosh
                        </span>
                    </a>
                    <a id="weibo_connect" href="/oauth/weibo/binding/" style="margin-left: 12px;"
                    class="btn wbtn">
                        <strong>
                            重新绑定新浪微博
                        </strong>
                        <span>
                        </span>
                    </a>
                    <input type="hidden" name="weibo_connected" value="1">
                    <label for="hide_weibo">
                        <input id="hide_weibo" type="checkbox" name="status[hide_weibo]" value="1">
                        不在主页显示我的新浪微博
                    </label>
                </p>
            </div>
        </li>
        <li class="NoInput">
            <label>
                豆瓣
            </label>
            <div class="Right NoInput">
                <p>
                    <a id="douban_connect" href="/oauth/douban/binding/" class="btn btn18 wbtn">
                        <strong>
                            绑定豆瓣
                        </strong>
                        <span>
                        </span>
                    </a>
                </p>
            </div>
        </li>
        <li>
            <label for="id_about">
                关于自己
            </label>
            <div class="Right">
                <textarea id="id_about" name="profile[about]" rows="3" cols="54">
                    一句话记录碰到的技术问题
                </textarea>
            </div>
        </li>
        <li>
            <label for="id_location">
                所在城市
            </label>
            <div class="Right">
                <input id="id_location" type="text" name="profile[location]" value="北京 昌平区">
            </div>
        </li>
        <li>
            <label for="id_url">
                个人主页
            </label>
            <div class="Right">
                <input id="id_url" type="text" name="profile[url]" value="http://blog.sina.com.cn/pcclear">
            </div>
        </li>
    </ul>
    <div class="Submit">
        <a id="submit_btn" href="#" onclick="return false;" class="btn btn24 rbtn">
            <strong>
                保存设置
            </strong>
            <span>
            </span>
        </a>
    </div>
</form>
</div>
</body>
</html>
