<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>碟花网</title>
  <script src='/js/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  
<link rel=”icon” href=”/favicon.ico” mce_href=”/favicon.ico” type=”image/x-icon”>
<link rel=”shortcut icon” href=”/favicon.ico” mce_href=”/favicon.ico” type=”image/x-icon”>
<body>
<div id="doc" class="profile">
            [[[commonheader:get_header()]]]
            <!--[if lt IE 8]>
                <div id="browser_notice_callout" style="display:none;">
                    <div class="wrapper">
                        <div class="callout">
                            <h3>
                                您正在使用石器时代的IE浏览器，为了更好的体验花瓣，推荐使用
                                <a class="browser chrome" target="_blank" href="http://www.google.com/chrome/">
                                    Chrome
                                </a>
                                、
                                <a class="browser firefox" target="_blank" href="http://www.mozilla.org/firefox/">
                                    Firefox
                                </a>
                                等现代浏览器
                            </h3>
                            <span class="close">
                            </span>
                        </div>
                    </div>
                </div>
            <![endif]-->
          <div id="nav_bar">
          <div id="BoardTitle" class="wrapper">
          	<h1><a href="/viewboards?id=[[[viewboards:get_info(Arg2)]]]">[[[viewboards:get_ablum_name(Arg2)]]]</a><span class="stats">(<span class="count">[[[viewboards:get_ablum_images(Arg2)]]]</span> 个采集)</span></h1>
          	<div id="BoardButton">
          		<a  href="/space?sid=[[[viewboards:get_info(Arg4)]]]" class="btn btn13 wbtn">
          			<strong>所有画板</strong>
          			<span></span>
          		</a>
          	</div>
          </div>
          </div>
            <div id="wrapper" class="wrapper bl">
                <div id="ProfileSidebar">
                    <h1>
                        [[[space:get_info(Arg1)]]]
                    </h1>
                    <p>
                        <a href="/frosh/followers/">
                            <span>
                                0
                            </span>
                            个粉丝
                        </a>
                        ,&nbsp;
                        <a href="/frosh/following/">
                            关注
                            <span>
                                5
                            </span>
                            人
                        </a>
                    </p>
                    <div id="ProfileImage">
                        <a href="/frosh/" title="轻言放弃" class="img">
                            <img src="/images/noavatar_l.gif" />
                        </a>
                        <a href="/settings/" class="btn btn13 wbtn">
                            <strong>
                                账号设置
                            </strong>
                            <span>
                            </span>
                        </a>
                        <a href="/addcontain?sid=[[[space:get_info(Arg2)]]]" class="btn btn13 wbtn" id="addnewpanel">
                            <strong>
                                添加画版
                            </strong>
                            <span>
                            </span>
                        </a>
                        <h3>其它画板</h3>
                        <div id="BoardBoards">
                        	[[[viewboards:list_table(Arg4)]]]
                        </div>
                        
                    </div>
                </div>
                <div id="waterfall">
                   
                </div>
                <div class="clear" id="loadingpanel"><div id="loadingmore">点击加载</div></div>
            </div>
        </div>
        <a id="elevator" href="#" onclick="return false;" class="Indicator off btn wbtn">
            <strong>
                回到顶部
            </strong>
            <span>
            </span>
        </a>
        
        
<div id="CreateBoard" style="display: none; " class="ModalContainer  destroy">
    <div class="modal wide ">
        <div class="header lg">
            <a href="#" onclick="$('#CreateBoard').hide();return false" class="close">
                <strong>
                    Close
                </strong>
                <span>
                </span>
            </a>
            <h2>
                创建画板
            </h2>
        </div>
        <form action="" class="Form StaticForm nm">
            <ul>
                <li class="nbt">
                    <input id="id_board_title" type="text" name="title" value="">
                    <label>
                        画板标题
                    </label>
                    <span class="fff">
                    </span>
                </li>
                <li>
                    <input id="id_category" type="hidden" name="category" value="">
                    <div class="BoardListOverlay">
                    </div>
                    <div class="BoardSelector BoardPicker CategoryPicker">
                        <div class="current">
                            <span class="CurrentBoard">
                                选择分类
                            </span>
                            <span class="DownArrow">
                            </span>
                        </div>
                        <div class="BoardList">
                            <div class="BoardListBody">
                                <ul>
                                    [[[page:get_cat_list(4)]]]
                                </ul>
                            </div>
                        </div>
                    </div>
                    <label>
                        画板分类
                    </label>
                </li>
            </ul>
            <div class="Submit">
                <a href="#"  class="btn btn18 wbtn">
                    <strong>
                        创建画板[[[space:get_info(Arg1)]]]
                    </strong>
                    <span>
                    </span>
                </a>
                <div class="CreateBoardStatus msgr">
                </div>
            </div>
        </form>
    </div>
    <div class="overlay">
    </div>
</div>

        
<script>  
$("#addnewpanel").click(function(e){
	var target = $(this);
	e.preventDefault();
	$("#CreateBoard").show();
});
$(".CurrentBoard").click(function(e){
	$(".BoardList",$(this).parent().parent()).show();
});
$(".BoardCategory").click(function(e){
	console.log($(this));
	$("#id_category").val($(this).attr("data"));
	$(".CurrentBoard").html($(this).text());
	$(this).parents(".BoardList").hide();
});
$(".Submit a").click(function(e){// POST 数据
	var catid = $("#id_category").val(),
	      catname = $("#id_board_title").val();
	e.preventDefault();
	if(catid && catname){
		$.ajax({
			type:"POST",
			dataType:"json",
			url:"/saveBoard",
			data:"catid="+catid+"&catname="+catname,
			complete:function(data){
				window.location.href = window.location.href;
			}
		});
	}else{
		alert("错误");
	}
});
var loadedPics = [],t = null;
var viewExistPics = [];
var colwidth = 237; //固定列的宽度
var initWidth = document.body.clientWidth;
var colnum = Math.floor((document.body.clientWidth-237) / colwidth);
//document.body.clientWidth
window.onload = function(){
 for(var i = 0 ; i < colnum ; i++){
        $("<div class='col'></div>").appendTo($("#waterfall"));
    }
    $("#waterfall").css("width",colnum*colwidth+10 +"px");
    setTimeout(function(){getData(currentOffset);},50);
};
window.onresize = function(){
    return;
    var currentWidth = document.body.clientWidth;
    if(currentWidth == initWidth){
        return;
    }
    setTimeout(function(){
        delayWidth = document.body.clientWidth;
        if(delayWidth != currentWidth){
            return;
        }
        clearInterval(t);
        $("#waterfall").html("");
        colnum = Math.floor(document.body.clientWidth / colwidth);
        for(var i = 0 ; i < colnum ; i++){
            $("<div class='col'></div>").appendTo($("#waterfall"));
        }
        $("#waterfall").css("width",colnum*colwidth +"px");
        var tmp = viewExistPics.slice(0);
        attachPicToMain(tmp);
        initWidth = delayWidth;
    },500);
}
function attachPicToMain(obj){
	var arrelem = $("#waterfall .col");
	var container = $(arrelem[0]);
	for(var i = 0 ; i<obj.length ;i++){
			//console.log(arrelem);
			$.each(arrelem,function(index,celem){
			//console.log(celem);
			if($(celem).innerHeight() < container.innerHeight()){
				container = $(celem);
			}
			});
			var m = obj[i];
			//<div class="actions" style="display: none; "><a data-num="3" userid="13534" to="45966" class="button forward-btn png">转发</a><a to="45966" class="button comment-btn png">评论</a><a to="45966" class="button edit-btn png">编辑</a></div>
			var elem = $("<div class='ele vis'><div class='actions' data-id="+m.unitid+"><a class='button edit'>编辑</a><a class='button delete'>删除</a></div><a href='"+m.source_l+"' class='grouped_elements'><img src='"+m.source+"' height='"+m.height+"' /\></a><div class='title'>"+m.title+"</div></div>");
			elem.appendTo(container);
			
			$(".delete",elem).click(function(){
				console.log($(this).parent());
				var me = $(this);
				var image_id =  $(this).parent().attr("data-id");
				$.ajax({
					url:"/deleteimage?imageid="+image_id,
					dataType:"json",
					type:"GET",
					success:function(data){
						//data = eval('"'+data+'"');
						if(data.state){
							
							me.parents(".ele").fadeOut('slow', function() {
							    	me.parents(".ele").remove();
							  });
						}else{
							alert("删除失败");
						}
					}
				});
			});
			elem.hover(function(){
				$(".actions",$(this)).show();
			},function(){
				$(".actions",$(this)).hide();
			});
	}
	var visEle = $(".vis");
	$("a.grouped_elements",visEle).fancybox();
	obj.length = 0;
   	$('.vis').animate({
		opacity: 1
	  }, 1000, function() {
	    $(this).removeClass("vis");
	  });
	
}
var inloading = false,
	nomore = false,
	startkey="";
function getData(start){
    if(!inloading && !nomore){
             inloading = true;
	    $.ajax({
		url:"/ajaxboards?boardid=[[[space:get_info(Arg2)]]]&start="+start+(start == 0?"":"&startkey="+startkey),
		dataType:"json",
		type:"GET",
		success:function(data){
		    jsonFlickrApi(data);
		      currentOffset+=30;
		      inloading = false;
		}
	    });
    }
}
var pictures = [];
function jsonFlickrApi(obj){
    var photos = obj.results;
    	 
    if(photos.length == 0){jsonFlickrApi
    	$("#loadingmore").html("<img src='/images/end.png' /\>");
    	$("#loadingpanel").show();
    	nomore = true;
    	return;
    }
    for(var i = 0 ; i<photos.length ; i++){
            pictures.push({"width_l":500,"width":200,"source":"/dhnetimage/"+photos[i]['id']+"_s"+photos[i]['value']['ext'],"title":photos[i]['value']['title'],"source_l":"/dhnetimage/"+photos[i]['id']+photos[i]['value']['ext'],unitid:photos[i]['id'],height:photos[i]['value']['height']});
    }
    startkey = photos[photos.length-1]['key'];
    viewExistPics = pictures.slice(0);
    attachPicToMain(pictures);
}
var currentOffset = 0 ;



window.onscroll = function(){
	if(document.body.offsetHeight - document.body.clientHeight -document.body.scrollTop < 100 && inloading == false){
		getData(currentOffset);
	}
	if($(document.documentElement).scrollTop() > 0 || $(document.body).scrollTop() > 0){	
		$("#elevator").removeClass("off");
		$("#elevator").addClass("on");
		$("#elevator").die().live("click",function(){$("body,html").animate({scrollTop:0},500)});
	}else{
		$("#elevator").removeClass("on");
		$("#elevator").addClass("off");
	}
}
var loadingInter = setInterval(function(){
	if(nomore){
		clearInterval(loadingInter);
	}
	var D = document;
	if(D.body.offsetHeight > D.documentElement.clientHeight){
		$("#loadingmore").show();
	}
},50);
$("#loadingmore").click(function(){
    getData(currentOffset);
});



</script>
</body>
</html>        
